.header {
    padding: 10px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid dimgray;
}
html,body {
    height:100%;
    background-color: #333;
    color: white;
    font-family: Roboto, sans-serif;
}

.pure-form {
    display: flex;
    align-items: center;
}
.pure-form input[type="text"] {
    flex: 1;
    margin-right: 10px;
}

.pure-menu-heading img {
    height: auto;
    width: auto;
    max-height: 60px;
}

.pure-button-primary {
    background-color: #1f8dd6;
}

.pure-button-secondary {
    background-color: #1f8dd6;
    color: white;
}
.pure-button-secondary:hover {
    background-color: #166ba1;
}

.game-info {
    max-width: fit-content;
    margin-left: 5em;
    margin-right: auto;
    align-content: center;
}

.center {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.pure-menu-selected {
    border-radius: 1.25rem;
    border-bottom: 5px solid #00FFE1;
    background: radial-gradient(50.28% 68.75% at 49.72% 100%, rgba(0, 246, 255, 0.40) 0%, rgba(0, 148, 153, 0.00) 100%);
}

.toolbar {
    font-size: 2em;
    color: #FFF;
}

.toolbar-container {
        background-color: #555;
}

.pure-menu-link:hover  {
    background-color: #444;
    border-radius: 20px;
}

.pure-menu-link:focus {
    background-color:transparent;
}

.game-info-container {
    margin-top: 1em;
    margin-bottom: 1em;
}

.author {
        margin-top: 0;
        text-indent: 2em;
}
