/*  Post Review page */
body {
    background: #333333;
}

label {
    color:antiquewhite
}

.pure-form {
    margin: 20px auto;
    padding: 20px;
}

.pure-form input[type="text"],
.pure-form select {
    width: 33.33%; /* Make the width 1/3 of the form */
}

#content{
    height: 500px;
}

p{
    color: antiquewhite
}

.rating-container{
    display:flex;
    align-items: center;
}

.rating-container p{
    margin: 0;
    padding-right: 10px;
}

.star{
    font-size: 1.5em;
    color:antiquewhite
}

#submit{
    background-color: aqua;
    font-weight: bold;
}
.button-container {
    text-align:right;
}

.star {
    cursor: pointer;
  }
   
  .one {
    color: rgb(255, 0, 0);
  }
   
  .two {
    color: rgb(255, 106, 0);
  }
   
  .three {
    color: rgb(251, 255, 120);
  }
   
  .four {
    color: rgb(255, 255, 0);
  }
   
  .five {
    color: rgb(24, 159, 14);
  }
