<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Post{% endblock %}</title>
    <link rel="stylesheet" href=
    "https://unpkg.com/purecss@2.0.5/build/pure-min.css"
            integrity=
    "sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd"
            crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>

<body>
    <form class="pure-form" method="POST" action="{% block action %}{{ url_for('submitPost') }} {% endblock %}">
        <div class="pure-form-stacked">
            <div>
                <label for="title">{% block label %}Some title{% endblock %}</label>
                <input type="text" id="title" name="title" value="{% block postTitle %}{% endblock %}" required> <br>
            </div>

            <div>
                <textarea id="content" name="content" class="pure-input-1" required>{% block textArea %}{% endblock %}</textarea>
            </div><br>

            {% block starRating %}{% endblock %}

            <input type="hidden" value="{% block type %}{% endblock %}" name="post_type">

            {% block postID %}{% endblock %}

            <div class="button-container">
                <input type="submit" id="submit" name="submit" class="pure-button">
            </div>
            
        </div>
    </form>
</body>
</html>