{% extends "base.html" %}
{% block additionalHeaders %}
 <script src="../static/js/script.js"></script>
{% endblock %}
{% block title %}Game Review{% endblock %}

{% block content %}
    <form class="pure-form post-form" method="POST" action="{% block action %}{{ url_for('submit_post') }} {% endblock %}">
        <div class="pure-form-stacked">
            <div>
                <label for="title">{% block label %}Some title{% endblock %}</label>
                <input type="text" id="title" name="title" value="{% block postTitle %}{% endblock %}" required> <br>
            </div>

            <div>
                <textarea id="content" name="content" class="pure-input-1" required placeholder="Write review here!">{% block textArea %}{% endblock %}</textarea>
            </div><br>

            {% block starRating %}{% endblock %}
            <input type="hidden" value="{{game_id}}" name="game_id">
            <input type="hidden" value="{% block type %}{% endblock %}" name="post_type">
            {% block postID %}{% endblock %}

            <div class="button-container">
                <button type="submit" id="submit" name="submit" class="pure-button"> Post </button>
            </div>
            
        </div>
    </form>
{% endblock %}