{% extends 'basePost.html' %}

{% block title %}Edit Review{% endblock %}

{% block action %}{{ url_for('update_post') }}{% endblock %}

{% block label %}Review Title: {% endblock %}
{% block postTitle %}{{ post.title }}{% endblock %}
{% block textArea %}{{ post.content }}{% endblock %}

{% block starRating %}
    <div class="rating-container">
        <p>Rating:</p>
        <span onclick="rate(1)" class="star">★</span>
        <span onclick="rate(2)" class="star">★</span>
        <span onclick="rate(3)" class="star">★</span>
        <span onclick="rate(4)" class="star">★</span>
        <span onclick="rate(5)" class="star">★</span>
        <input type="hidden" name="rating" id="rating" value="0">
    </div> <br>
{% endblock %}

{% block type %}review{% endblock %}
{% block postID %}<input type="hidden" name="post_id" value="{{ post.id }}"> {% endblock %}