{% extends "base.html" %} {% block title %}Game Review{% endblock %}
{% block content %}
    <div class="pure-g game-info-container">
        <div class="pure-u-2-24"></div>
        <div class="pure-u-22-24">
            <div class="pure-g">
                <div class="pure-u-1-5">
                    <img src="{{ game_data.coverImageUrl }}" alt="Cover image for {{ game_data.name }}"
                         class="pure-img"/>
                </div>
                <div class="pure-u-3-5 game-info">
                    <h1>{{ game_data.name }}</h1>
                    <p>{{ game_data.summary }}</p>
                </div>
            </div>

        </div>
    </div>
    {% include 'toolbar.html' %}
    <div class="pure-g">
        <div class="pure-u-1-5"></div>
        <div class="pure-u-3-5">
            <div id="reviews">
                {% for review in reviews %}
                <div>
                    <h2 style="margin-bottom: .2em">{{ review.title }} {{ review.rating }}</h2>
                    <h6 class="author">By: {{ review.author }}</h6>
                    <p style="text-indent: 3em;">{{ review.description }}</p>
                    <p style="text-indent: 3em;">{{ review.likes }}</p>
                </div>

            {% endfor %}
            </div>
            <div id="topics" hidden>
                {% for topic in topics %}
                <div>
                    <h2 style="margin-bottom: .2em">{{ topic.title }}</h2>
                    <h6 class="author">By: {{ topic.author }}</h6>
                    <p style="text-indent: 3em;">{{ topic.description }}</p>
                    <p style="text-indent: 3em;">{{ topic.likes }}</p>
                </div>

            {% endfor %}
            </div>

        </div>
        <div class="pure-u-1-5">
        </div>
    </div>

{% endblock %}