{% extends "base.html" %} {% block title %}Game Review{% endblock %}{% block
content %}
<div class="game-section">
  <h2 class="section-title">Recently Added Games</h2>
  <div class="game-list pure-g">
    {% for game in new_games %}
    <div
      onclick="location.href='/game/{{game.id}}';"
      class="game-card pure-u-1 pure-u-md-1-6"
    >
      <div class="game-cover">
        <img
          src="{{ game.cover if game.cover else static/images/default_game_cover.png}}"
          alt="{{ game.name }}"
          onerror="this.src='static/images/default_game_cover.png';"
        />
      </div>
      <div class="game_info">
        <span class="title">{{ game.name }}</span>
      </div>
      <div class="release-date">
        Release Date: {{ game.release_date | format_date }}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="recent-reviews-section">
  <h2 class="section-title">Recent Reviews</h2>
  <div class="reviews-list">
    {% for review in recent_reviews %}
    <div class="review-card" onclick="location.href='/review/{{ review.post_id }}';">
      <div class="review-image">
        <img
          src="{{ review.game_image }}"
          alt="{{ review.game_name }}"
          onerror="this.src='static/images/default_game_cover.png';"
        />
      </div>
      <div class="review-content">
        <div class="user-info">
          {% if review.user_picture %}
          <img
            class="user-avatar"
            src="{{ review.user_picture }}"
            alt="{{ review.username }}"
          />
          {% else %}
          <img
            class="user-avatar"
            src="/static/images/avatar.png"
            alt="Default Avatar"
          />
          {% endif %}
          <a
            href="{{ url_for('user_profile', user_id=review.user_id) }}"
            class="username"
            >{{ review.username }}</a
          >
        </div>
        <div class="review-header">
          <span class="game-title">{{ review.game_name }}</span>
          <span class="review-rating">
            {% for n in range(review.rating) %} ★ {% endfor %} {% for n in
            range(5 - review.rating) %} ☆ {% endfor %}
          </span>
        </div>
        <div class="review-text">
          <p>{{ review.content[:100] }}...</p>
          <a href="/review/{{ review.post_id }}">Read more</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
