{% extends 'basePost.html' %}

{% block title %}Post Topic{% endblock %}

{% block action %}{{ url_for('submitTopicPost') }}{% endblock %}
{% block label %}Topic Title: {% endblock %}

{% block selectGames %}
    <div>
        <select id="gameSelect" name="gameSelect">
            <option disabled selected value required> -- select a game -- </option>
            {% for game in listGames %}
                <option name="game" value="{{ game }}">{{ game }}</option>
            {% endfor %}
        </select> <br>
    </div>
{% endblock %}

{% block type %}topic{% endblock %}