{% extends "base.html" %} {% block title %}Game Review{% endblock %}
{% block content %}
    <div class="pure-g">
        <div class="pure-u-1-24"><h1 class = "game_title">{{ review.gametitle }}</h1>
            <p>by {{ review.author }}</p></div>
        <div class="pure-u-20-24"><h1 class = "reveiw_title">{{ review.title }}</h1></div>
        <div class="pure-u-2-24">
            <p>
            {%for n in range(review.rating) %}
                &#9733;
            {%endfor%}
            {%for n in range(5 - review.rating) %}
                &#9734;
            {%endfor%}
            </p>
        </div>
    </div>
    <div class="pure-g">
        <div class="pure-u-1" style="margin-left: 1em">
            <p>{{review.content}}</p>
        </div>
        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="#" id="comment" class="pure-menu-link">Options</a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Edit</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Delete</a></li>
                    </ul>
                </li>
        </div>
    </div>
    <div class="pure-g">
        <div class="pure-u-1">
            <form class="pure-form" action="/comment" method="POST">
                <input
                        type="text"
                        class="pure-input-rounded search-input"
                        placeholder="Add new discussion comment"
                />
                <button type="submit" class="pure-button pure-button-primary">
                    Post
                </button>
            </form>
        </div>
    </div>

    <div class="pure-g">
        <div class="pure-u-1">
            {{ renderComments(review.replies, 0)}}
        </div>
    </div>
{% endblock %}

{% macro renderComments(comments, inset) %}
    {%  for comment in comments %}
        <div style="margin-left: {{ inset }}em">
            <p>{{ comment.author }}</p>
            <p>{{ comment.content }}</p>
            {% set inset = inset + 1 %}
            <p>{{renderComments(comment.replies, inset)}}</p>
        </div>
    {% endfor %}
{% endmacro %}