{% extends "base.html" %} {% block title %}Game Review{% endblock %}
{% block content %}
<div class="pure-g">
    <div class="pure-u-1">
        <div class="game-button" onclick="location.href='/game/{{game.game_id}}';">
            <img src="http:{{game.image_url | replace('thumb', 'micro')}}" alt="Thumbnail of game cover" class="game-img">
            <p style="padding-left:.5em;">{{ game.name }}</p>
        </div>
    </div>
    <div class="pure-u-2-24">
    </div>
    <div class="pure-u-17-24">
        <h1 class="review_title">{{ review.title }}</h1>
        <p>by <em>{{ review.username }}</em></p>
    </div>

    <div class="pure-u-3-24">
        <p class="rating">
            {%for n in range(review.rating) %}
            &#9733;
            {%endfor%}
            {%for n in range(5 - review.rating) %}
            &#9734;
            {%endfor%}
        </p>
    </div>

    <div class="pure-u-2-24">
        {% if user_sub == review.user_sub %}
        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="#" id="comment-form" class="pure-menu-link">&#10247;</a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a href="{{url_for('edit_review', id=review.post_id)}}"
                                                      class="pure-menu-link">Edit</a></li>
                        <li class="pure-menu-item">
                            <form class = "pure-form" method="POST" action="/deletePost">
                                <input type="hidden" name="type" value="review" hidden>
                                <input type="hidden" name="post_id" value="{{review.post_id}}" hidden>
                                <input type="hidden" name="delete_id" value="{{review.post_id}}" hidden>
                                <input class="pure-button pure-button-primary" type="submit" id="delete" name="submit" value="Delete">
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        {%endif%}
    </div>
</div>

<div>
    <hr class="solid">
</div>

<div class="pure-g">
    <div class="pure-u-3-24"></div>
    <div class="pure-u-21-24">
        <p class="post_content">{{review.content}}</p>
    </div>
</div>

<div>
    <hr class="solid">
</div>

<div class="pure-g">
    <div class="pure-u-3-24"></div>
    <div class="pure-u-21-24" style="margin: 1em">
        <form class="pure-form" action="/reply/{{review.post_id}}" method="POST">
            <input
                    type="text"
                    class="pure-input-rounded search-input"
                        name = "reply"
                    placeholder="Add new discussion comment"
            />
            <input type="text" name="type" value="review" hidden>
            <button type="submit" class="pure-button pure-button-primary">
                Post
            </button>
        </form>
    </div>
</div>

<div class="pure-g">
    <div class="pure-u-2-24"></div>
    <div class="pure-u-22-24">
        {{ renderComments(review.replies, 1)}}
    </div>
</div>
{% endblock %}

{% macro renderComments(comments, inset) %}
{%  for comment in comments %}
<div class="comment" style="margin-left: {{ inset }}em;">
    <div style="padding-top: .25em; padding-left:.5em;">
        <p><em>{{ comment.username }}</em></p>
        <p id="comment-content-{{comment.post_id}}">{{ comment.content }}</p>
    </div>
    <div id="comment-reply-{{comment.post_id}}"></div>
    <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                <a href="#" id="comment" class="pure-menu-link">&#10247;</a>
                <ul class="pure-menu-children">
                    {% if user_sub == comment.user_sub %}
                    <li class="pure-menu-item"><a href="#"
                                                  onclick="editReply({{review.post_id}}, '{{comment.content}}', {{comment.post_id}}, 'review')"
                                                  class="pure-menu-link">Edit</a></li>
                    <li class="pure-menu-item">
                        <form class = "pure-form" method="POST" action="/deletePost">
                            <input type="hidden" name="type" value="review" hidden>
                            <input type="hidden" name="post_id" value="{{review.post_id}}" hidden>
                            <input type="hidden" name="delete_id" value="{{comment.post_id}}" hidden>
                            <input class="pure-button pure-button-primary" type="submit" id="delete" name="submit" value="Delete">
                        </form>
                    </li>
                    {%endif%}
                    <li class="pure-menu-item"><a href="#"
                                                  onclick="replyTo({{review.post_id}}, {{comment.post_id}},'review')"
                                                  class="pure-menu-link">Reply</a></li>
                </ul>
            </li>
    </div>

    {% set inset = inset + 1 %}
    <p>{{renderComments(comment.replies, inset)}}</p>
</div>
{% endfor %}
{% endmacro %}