{% extends "base.html" %} {% block title %}Game Review{% endblock %}
{% block content %}
<div class="pure-g">
    <div class="pure-u-2-24">
        <p>{{ topic.game_id }}</p>
        <p>by <em>{{ topic.username }}</em></p>
    </div>
    <div class="pure-u-18-24">
        <h1 class="topic_title">{{ topic.title }}</h1>
    </div>
    <div class="pure-u-2-24">
        {% if sub == topic.user_sub %}
        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="#" id="comment" class="pure-menu-link">&#10247;</a>
                    <ul class="pure-menu-children">
                        <!-- TODO: have an update_topic page or we can resturcutre the code to account for topic -->
                        <li class="pure-menu-item"><a href="{{url_for('update_review', id=topic.post_id)}}"
                                                      class="pure-menu-link">Edit</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Delete</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        {%endif%}
    </div>
</div>
<div class="pure-g">
    <div class="pure-u-1" style="margin-left: 1em">
        <p>{{topic.content}}</p>
    </div>
</div>
<div class="pure-g">
    <div class="pure-u-1">
        <form class="pure-form" action="/reply/{{topic.post_id}}" method="POST">
            <input
                    type="text"
                    class="pure-input-rounded search-input"
                        name = "reply"
                    placeholder="Add new discussion comment"
            />
            <button type="submit" class="pure-button pure-button-primary">
                Post
            </button>
        </form>
    </div>
</div>

<div class="pure-g">
    <div class="pure-u-1">
        {{ renderComments(topic.replies, 1)}}
    </div>
</div>
{% endblock %}

{% macro renderComments(comments, inset) %}
{%  for comment in comments %}
<div style="margin-left: {{ inset }}em">
    <p><em>{{ comment.username }}</em></p>
    <p id="comment-content-{{comment.post_id}}">{{ comment.content }}</p>
    <div id="comment-reply-{{comment.post_id}}"></div>
    <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                <a href="#" id="comment" class="pure-menu-link">&#10247;</a>
                <ul class="pure-menu-children">
                    {% if sub == comment.user_sub %}
                    <li class="pure-menu-item"><a href="#"
                                                  onclick="editReply({{comment.post_id}}, '{{comment.content}}', {{comment.parent_id}})"
                                                  class="pure-menu-link">Edit</a></li>
                    <li class="pure-menu-item"><a href="{{url_for('delete_post', post_id=topic.post_id, delete_id = comment.post_id)}}" class="pure-menu-link">Delete</a></li>
                    {%endif%}
                    <li class="pure-menu-item"><a href="#"
                                                  onclick="replyTo({{topic.post_id}}, {{comment.post_id}})"
                                                  class="pure-menu-link">Reply</a></li>
                </ul>
            </li>
    </div>

    {% set inset = inset + 1 %}
    <p>{{renderComments(comment.replies, inset)}}</p>
</div>
{% endfor %}
{% endmacro %}