{% extends 'base.html' %} {% block title %}User Profile{% endblock %} {% block
content %}
<div class="user-menu">
  <a
    href="/user/profile/{{ user_sub }}"
    class="menu-item {% if active_page == 'profile' %}active{% endif %}"
    >Profile</a
  >
  <a
    href="/user/reviews/{{ user_sub }}"
    class="menu-item {% if active_page == 'reviews' %}active{% endif %}"
    >Reviews</a
  >
  <a
    href="/user/settings/{{ user_sub }}"
    class="menu-item {% if active_page == 'settings' %}active{% endif %}"
    >Settings</a
  >
</div>
<div class="user-profile">
  <div class="profile-image">
    <img
      src="{{ url_for('static', filename='images/avatar.png') }}"
      alt="Profile Image"
    />
  </div>
  <div class="profile-details">
    <h2>{{ username }}</h2>
    <p>Profile description: {{ descript or "No description available." }}</p>
    <p>Number of Reviews: 2</p>
  </div>
</div>

{% endblock %}
